<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Covid-19 Cases in India
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-button>Default</ion-button>
<ion-button color="primary">Primary</ion-button>
<ion-button color="secondary">Secondary</ion-button>
<ion-button color="tertiary">Tertiary</ion-button>
<ion-button color="success">Success</ion-button>
<ion-button color="warning">Warning</ion-button>
<ion-button color="danger">Danger</ion-button>
<ion-button color="light">Light</ion-button>
<ion-button color="medium">Medium</ion-button>
<ion-button color="dark">Dark</ion-button> -->

<ion-content [fullscreen]="true">
  <ion-card class="confirmed" color="medium">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Total Confirmed</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title style="text-align: center;">{{global?.TotalConfirmed?.toLocaleString('en-IN')}}</ion-card-title>
        <p class="card-text" style="text-align: center;">
        <img  src="../../assets/icon/up-arrow.png">
        {{global?.NewConfirmed?.toLocaleString('en-IN')}}
        </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="recovered"  color="success">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Total Recovered</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title style="text-align: center;">{{global?.TotalRecovered?.toLocaleString('en-IN')}}</ion-card-title>
        <p class="card-text" style="text-align: center;">
        <img  src="../../assets/icon/up-arrow.png">
        {{global?.NewRecovered?.toLocaleString('en-IN')}}
        </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="active"  color="warning">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Total Active</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title style="text-align: center;">{{(global?.TotalConfirmed-(global?.TotalRecovered + global?.TotalDeaths )).toLocaleString('en-IN')}}</ion-card-title>
        <!-- <p class="card-text" style="text-align: center;">
        <img  src="../../assets/icon/up-arrow.png">
        ConfirmCases
        </p> -->
    </ion-card-content>
  </ion-card>

  <ion-card class="death" color="danger">
    <ion-card-header>
      <ion-card-title style="text-align: center;">Deaths</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title style="text-align: center;">{{global?.TotalDeaths?.toLocaleString('en-IN')}}</ion-card-title>
        <p class="card-text" style="text-align: center;">
        <img  src="../../assets/icon/up-arrow.png">
        {{global?.NewDeaths?.toLocaleString('en-IN')}}
        </p>
    </ion-card-content>
  </ion-card>
  

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
